
<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300 ">Welcome to our website! We are a team of passionate astronomers dedicated to exploring the wonders of the universe. Our mission is to share our knowledge and inspire others to look up and wonder.</p>
</section>