---
import Layout from '../layouts/Layout.astro'
---
<Layout title='acerca del sitio'>
	<h1>Acerca de</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea non veniam itaque necessitatibus consequatur asperiores. Tempore rem commodi sit eaque, officiis, quia, id consequatur possimus vitae recusandae sed culpa deserunt reiciendis esse? Harum, aliquid hic soluta ab, voluptas officia omnis reiciendis a repudiandae distinctio sequi rerum autem vel quae. Laborum, culpa nostrum itaque suscipit, voluptas incidunt reprehenderit, aliquam nam deserunt asperiores recusandae non fugit consequatur blanditiis laboriosam iure voluptatibus. Animi magnam aut impedit temporibus sequi iure! Quia alias accusantium, illo, fugiat velit rem deserunt et error ab ex ipsa! Dolore dolor placeat perferendis minima sunt praesentium corrupti labore distinctio suscipit.</p>
</Layout>
